# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=erp_local
DB_USER=root
DB_PASSWORD=

# Configurações da Aplicação
# APP_ENV pode ser 'development' ou 'production'
APP_ENV=development
# APP_DEBUG=true para ver erros detalhados. Mude para 'false' em produção.
APP_DEBUG=true
# URL base da sua aplicação. Ex: http://localhost/ERP/
APP_URL=
# Fuso horário da aplicação
APP_TIMEZONE=America/Sao_Paulo
