DB_HOST=localhost
DB_NAME=vin31871_ripfire
DB_USER=vin31871_ripfire
DB_PASSWORD=Vb357753@
APP_ENV=production
APP_DEBUG=true
APP_URL=https://viniciusbaggio1772594984234.0452201.meusitehostgator.com.br/
APP_TIMEZONE=America/Sao_Paulo
